@using Microsoft.AspNetCore.Http
@using ProjekatNBP.Session
@model Ad

@{
    ViewData["Title"] = "Pregled oglasa";

    int userId = ViewContext.HttpContext.Session.GetInt32(SessionKeys.UserId) ?? -1;
    string id = userId.ToString();
}

<div class="col-7">

    <div class="container">
        <div class="row main-row">
            <div class="col-4 d-flex justify-content-center">
                <div class="card card-shadow" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Category</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Cena: @Model.Price</h6>
                        <p class="card-text">@Model.Description</p>
                        @if (Model.User != null)
                        {
                            <div>
                                <label class="card-title">Vlasnik oglasa: @Model.User.Username</label>
                                <a class="nav-link" asp-controller="Home" asp-action="FollowUser" asp-route-uId="@Model.User.Id">Zaprati ovog oglašavača</a>
                                <a class="nav-link" asp-controller="Chat" asp-action="StartConversation" asp-route-room="@id:@Model.Id:@Model.User.Id">Kontaktirajte ovog oglašavača</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

