@model List<Category>

@{
    ViewData["Title"] = "Početna";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-2  category-col">
            <div class="card card-shadow">
                <div class="card-body">
                    <h5 class="card-title">Kategorije:</h5>
                    <ul class="list-group">
                        @if (Model.Count > 0)
                            foreach(var item in Model)
                            {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">@item.Name</a>
                                <span class="badge badge-primary badge-pill">@item.Ads.Count</span>
                            </li>
                            }                       
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-7">

            <div class="container">
                <div class="row main-row">
                    @if (Model.Count > 0)
                        foreach (var item in Model)
                        {
                            @foreach (var ad in item.Ads)
                            {
                                <div class="col-4 d-flex justify-content-center">
                                    <div class="card card-shadow" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">@ad.Name</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">@ad.Category</h6>
                                            <h6 class="card-subtitle mb-2 text-muted">Cena: @ad.Price</h6>
                                            <p class="card-text">@ad.Description</p>
                                            <a href="#" class="card-link">Otvori</a>
                                            <a asp-controller="User" asp-action="SaveAd" asp-route-adId="@ad.Id" class="card-link">Sacuvaj</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                </div>
            </div>

        </div>

        <div class="col-3 leaderboard-col">
            <div class="card card-shadow">
                <div class="card-body">
                    <h5 class="card-title">Leaderboard</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ime</th>
                                <th scope="col">Ocene</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><a href="#">Mark</a></td>
                                <td class="text-success">2343</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><a href="#">Jacob</a></td>
                                <td class="text-success">1230</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><a href="#">Larry</a></td>
                                <td class="text-success">887</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Forma za prijavu -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLongTitle">Prijavi se</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Login" asp-controller="User">
                    <div class="form-group">
                        <label for="username">Korisničko ime</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Korisničko ime">
                    </div>
                    <div class="form-group">
                        <label for="password">Lozinka</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Lozinka">
                    </div>
                    <button type="submit" class="btn btn-primary">Prijavi se</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Forma za registraciju -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLongTitle">Registruj se</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Register" asp-controller="User">
                    <div class="form-group">
                        <label for="username">Korisničko ime</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Korisničko ime">
                    </div>
                    <div class="form-group">
                        <label for="email">Email adresa</label>
                        <input type="text" name="email" class="form-control" id="email" placeholder="Email adresa">
                    </div>
                    <div class="form-group">
                        <label for="city">Grad</label>
                        <input type="text" name="city" class="form-control" id="city" placeholder="Grad">
                    </div>
                    <div class="form-group">
                        <label for="phone">Broj telefona</label>
                        <input type="text" name="phone" class="form-control" id="phone" placeholder="Broj telefona">
                    </div>
                    <div class="form-group">
                        <label for="password">Lozinka</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Šifra">
                    </div>
                    <div class="form-group">
                        <label for="register-password-confirm">Ponovite lozinku</label>
                        <input type="password" class="form-control" id="password-confirm" placeholder="Ponovite lozinku">
                    </div>
                    <button type="submit" class="btn btn-primary">Prijavi se</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Forma za oglas -->
<div class="modal fade" id="adModal" tabindex="-1" role="dialog" aria-labelledby="adModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adModalLongTitle">Postavi oglas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="PlaceAd" asp-controller="User">
                    <div class="form-group">
                        <label for="name">Naziv</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Naziv">
                    </div>
                    <div class="form-group">
                        <label for="category">Kategorija</label>
                        <input type="text" name="category" class="form-control" id="category" placeholder="Kategorija">
                    </div>
                    <div class="form-group">
                        <label for="price">Cena</label>
                        <input type="text" name="price" class="form-control" id="price" placeholder="Cena">
                    </div>
                    <div class="form-group">
                        <label for="description">Opis navedenog oglasa</label>
                        <input type="text" name="description" class="form-control" id="description" placeholder="Opis">
                    </div>
                    <button type="submit" class="btn btn-primary">Postavi oglas</button>
                </form>
            </div>
        </div>
    </div>
</div>