@using Microsoft.AspNetCore.Http
@using ProjekatNBP.Session
@model Room[]

@{
    ViewData["Title"] = "Chat";
    var room = ViewContext.HttpContext.Request.Query.Count > 0 ? ViewContext.HttpContext.Request.Query["room"].FirstOrDefault() : "";
    var adName = ViewContext.HttpContext.Request.Query.Count > 0 ? ViewContext.HttpContext.Request.Query["adName"].FirstOrDefault() : "";
    int userId = ViewContext.HttpContext.Session.GetInt32(SessionKeys.UserId) ?? -1;
    var otherParticipant = @Model.FirstOrDefault(x => x.Key == room)?.participants?.FirstOrDefault(x => x.Key != userId).Key;
}

<div class="container mt-2">
    <div class="row">
        <div class="col-3 card-shadow bg-light">
            <div class="row d-flex justify-content-center border-bottom border-dark">
                <h5 class="m-2">Poruke</h5>
            </div>
            @foreach (var item in Model)
            {
                <a class="chat-user-link" asp-controller="Chat" asp-action="Index" asp-route-room="@item.Key" asp-route-adName="@item.adName">
                    @if (item.Key == room)
                    {
                        <div class="row border-bottom text-light bg-primary room-item"> <h5 class="m-2">@item.participants?.FirstOrDefault(x => x.Key != userId).Value - @item.adName </h5> </div>
                    }
                    else
                    {
                        <div class="row border-bottom text-dark room-item"> <h5 class="m-2">@item.participants?.FirstOrDefault(x => x.Key != userId).Value - @item.adName</h5> </div>
                    }
                </a>
            }
        </div>

        <div class="col-9 p-0 card-shadow bg-light" style="height: 90vh;">
            <div class="container-fluid">
                @if (otherParticipant != null) {
                    <div class="row">
                        <div class="col-12 border-bottom border-dark">
                            <h5 class="m-2"><span id="userName">@adName</span>&nbsp;&nbsp;&nbsp;<span id="btnLike" onclick="likeUser(@otherParticipant)">👍</span></h5>
                        </div>
                    </div>

                    <div class="row chat-row overflow-auto" style="height: 73vh;">
                        <div class="container-fluid" id="messages-container">
                            @{
                                if ((new Room(room).GetMessages() is Message[] messages) && messages is not null)
                                    foreach (var msg in messages) {
                                        <div class="row m-4 d-flex @(msg.From == ViewContext.HttpContext.Session.GetInt32(SessionKeys.UserId) ? "my-message" : "")">
                                            <div class="card bg-primary" style="width: 30rem;">
                                                <div class="card-body">
                                                    <h5 class="card-title">@msg.Username</h5>
                                                    <p class="card-text">@msg.Text</p>
                                                </div>
                                                <span class="text-right mr-3 mb-2 font-italic">@($"{(new DateTime(1970, 1, 1).AddMilliseconds(msg.Timestamp)):dd.MM.yyyy - hh:mm:ss}")</span>
                                            </div>
                                        </div>
                                    }
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 border-top border-dark">
                            <div class="input-group mt-3">
                                <input type="text" id="message" class="form-control" placeholder="Poruka" aria-label="Poruka" aria-describedby="basic-addon2" style="height:50px">
                                <div class="input-group-append">
                                    <button id="submitMessage" class="btn btn-success" type="button">Pošalji</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    const chatRow = document.querySelector('.chat-row');
    chatRow.scrollTop = chatRow.scrollHeight;
</script>

<script>
	var connection = new signalR.HubConnectionBuilder().withUrl("/hub/Chat").build()

	connection.on("MessageReceived", (data) => {
		const { From, Username, Text, Timestamp } = JSON.parse(data)

		var date = new Date(Timestamp)
		var time = date.toLocaleTimeString().split(' ')[0].split(':')
		time[0] -= (new Date().toLocaleTimeString().split(' ')[1] == "PM" ? -12 : 0)

		var comment = `<div class="row m-4 d-flex ${(From == @ViewContext.HttpContext.Session.GetInt32(SessionKeys.UserId) ? "my-message" : "")}">
										<div class="card bg-primary" style="width: 30rem;">
											<div class="card-body">
												<h5 class="card-title">${Username}</h5>
												<p class="card-text">${Text}</p>
											</div>
											<span class="text-right mr-3 mb-2 font-italic">${(date.toLocaleDateString())} ${time[0]}:${time[1]}:${time[2]}</span>
										</div>
									</div>`

		$("#messages-container").append(comment);
		const chatRow = document.querySelector('.chat-row');
		chatRow.scrollTop = chatRow.scrollHeight;
	});

	connection.start().then(() => {
		connection.invoke("Subscribe", '@room').catch(function (err) {
			return console.error(err.toString());
		});
	}).catch((err) => {
		console.log(err)
	});

    function likeUser(id)
    {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LikeUser", "Chat")',
            data: { userId: id },
            success: () => {
                $('#btnLike').remove();
            },
            error: (e) => {
                alert("Something went wrong " + e);
            }
        });
    }

	$("#submitMessage").click(() => {
		var message = $("#message").val()

		connection.invoke("SendMessage", '@room', message).catch(function (err) {
			return console.error(err.toString());
		});
		event.preventDefault();

		$("#message").val('')
	});
</script>