<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjekatNBP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

@using Microsoft.AspNetCore.Http;
@using ProjekatNBP.Session;
@{
    int userId = ViewContext.HttpContext.Session.GetInt32(SessionKeys.UserId) ?? -1;
    bool isLoged = userId >= 0;
}

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="text-light" asp-controller="Home" asp-action="Index">NBP</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Oglasi<span class="sr-only">(current)</span></a>
                    </li>
                    @if (isLoged)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="SavedAds">Sacuvani oglasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="MineAds">Moji oglasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Chat" asp-action="Index">Poruke <span class="badge badge-danger badge-pill"></span></a>
                        </li>

                    }
                </ul>

                <ul class="navbar-nav my-2 my-lg-0">
                    @if (!isLoged)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Prijavi se</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal">Registruj se</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Profile">
                                <img class="nav-icon" src="~/img/man.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#notificationModal">
                                <img id="notification-bell" class="nav-icon" src="~/img/bell.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Logout">Izloguj se</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @RenderBody()


    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLongTitle">Notifikacije</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="notification-container" class="container">
                        @{
                            int id = 0;
                        }
                        @foreach (string notification in RedisManager<string>.GetAll($"users:{userId}:notifications"))
                        {
                            string[] temp = notification.Split('|');
                            if (temp.Length < 2)
                                continue;

                            <div id="not-@id" class="row">
                                <div class="col-8"><h6>@temp[0]</h6></div>
                                <div class="col-2"><a href="#" onclick="RemoveItem('@($"users:{userId}:notifications")', '@notification', '#not-@(id++)')">X</a></div>
                                <div class="col-2"><a asp-controller="Home" asp-action="AdView" asp-route-adId='@(int.Parse(temp[1]))'>Otvori</a></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
    var conn = new signalR.HubConnectionBuilder().withUrl("/hub/Ads").build()

    conn.start().then(() => {

    }).catch((err) => {
        console.log(err)
    });

    conn.on('NotificationReceived', (obj) => {
        const { followers, adId, adName, userId, userName } = obj;

        if (!followers.find(x => '@userId'))
            return
        const notification = `${userName} je postavio novi oglas - ${adName}`
        const url = `@(Url.Action("AdView", "Home"))?adId='${parseInt(adId)}`;
        const item = `<div id="not-@id" class="row">
                          <div class="col-8"><h6></h6>${notification}</div>
                          <div class="col-2"><a href="#" onclick="RemoveItem('@($"users:{userId}:notifications")', '${notification}|${adId}', '#not-@(id++)')">X</a></div>
                          <div class="col-2"><a href=${url}> Otvori </a></div>
                       </div>`
        $('#notification-container').append(item);
        $('#notification-bell').attr('src', '/img/bell_notification.png')
    });

    $('#submit-ad').click(() => {
        conn.invoke("AdPosted", $('#ad-name').val()).catch(function (err) {
            return console.error(err.toString());
        })

        conn.invoke("Subscribe", 'user:0:followers').catch(function (err) {
			return console.error(err.toString());
		});
    });

    function RemoveItem(path, item, id)
    {
        $.ajax({
            type: "DELETE",
            url: '@Url.Action("RemoveNotification", "Home")',
            data: {path, item},
            success: () => {
                $(id).remove();
                if (document.getElementById('notification-container').childElementCount == 0)
                    document.getElementById('notification-bell').src = '/img/bell.png';
            },
            error: () => {
                alert("Something went wrong");
            }
        });
    }
    </script>


    <script>
        if (document.getElementById('notification-container').childElementCount > 0)
            document.getElementById('notification-bell').src = '/img/bell_notification.png';
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>